.search-box {
    outline-width: 0px;
    border: none;
    font-size: 1.25rem;
    margin-left: 10px;
}

.create-group-wrapper {

    align-self: center;
    padding: 20px 10px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}